<div class="header" style="border-bottom: none;" ng-controller="HeaderCtrl">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/">K-JWT</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav">
          <li ui-sref-active="active"><a ui-sref="jobs">Home</a></li>
          <li ui-sref-active="active" ng-hide="isAuthenticated"><a ui-sref="register">Register</a></li>
          <li ui-sref-active="active" ng-show="isAuthenticated"><a ui-sref="logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
