<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Register via site</h3>
      </div>
      <div class="panel-body">
        <form ng-submit="vm.submit();" name="registerForm" accept-charset="UTF-8" role="form" novalidate="novalidate">
          <fieldset>
            <div class="form-group">
              <input class="form-control" placeholder="E-mail" ng-model="vm.formData.email" name="email" type="email" ng-required="true">
            </div>
            <div class="form-group">
              <input class="form-control" placeholder="Password" ng-model="vm.formData.password" name="password" type="password" ng-required="true">
            </div>
            <div class="form-group">
              <input class="form-control" placeholder="Confirm Password" ng-model="vm.formData.confirm_password" name="confirm_password" type="password" ng-required="true">
            </div>
            <p class="alert alert-danger" ng-show="registerForm.confirm_password.$dirty && registerForm.confirm_password.$invalid">Please match the passwords</p>

            <input class="btn btn-lg btn-success btn-block" ng-disabled="registerForm.$invalid" type="submit" value="Register">
          </fieldset>
        </form>
        <hr/>
        <center><h4>OR</h4></center>
        <input class="btn btn-lg btn-facebook btn-block" type="submit" value="Register via facebook">
      </div>
    </div>
  </div>
</div>
